server:
  port: 8081

spring:
  config:
    import:
      - "classpath:secret.yml"
  mail:
    host: smtp.mail.ru
    port: 465
    username: ${mail.username}
    password: ${mail.password}
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            enable: true